/* MENU DE ANOS */
.menu-anos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 15px;
    max-width: 700px;
    margin: 50px auto;
    padding: 20px;
}

.ano {
    display: block;
    text-align: center;
    padding: 20px;
    background: #020617;
    border: 1px solid #1e293b;
    border-radius: 10px;
    color: #38bdf8;
    text-decoration: none;
    font-size: 1.2rem;
    transition: 0.3s;
}

.ano:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #38bdf8;
}